* {
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
body {
    color: #000;
    background: #fff;
    font-size: 10pt;
    margin: 10px;
}
a {
  color: #07e;
}
p,h1,h2,h3 {
    margin: 10px 0;
}
li {
    margin-left: 20px;
}
table {
    border-spacing: 0;
    border: 1px solid #000;
}
table th, table td {
    text-align: left;
    padding: 2px 4px;
    white-space: nowrap;
}
table th {
    background-color: #ccc;
}
table td {
    border-top: silver 1px solid;
}